:root{
    --z-index-1: 100;
    --z-index-2: 200;
    --z-index-3: 300;
    --z-index-4: 400;
    --z-index-5: 500;
    --z-index-6: 600;
    --z-index-7: 700;
    --z-index-8: 800;
    --z-index-9: 900;
    --z-index-10: 10000;

    --bg-color-text: #fff;
    --bg-color-text2: #000;
    --bg-color-transparent-title:  rgba(233, 233, 32, 0.405);
    --bg-color-transparent-text:  #aaad;
    --bg-color-header : hsla(215, 100%, 18%, 0.921);
    --bg-color-button:  rgb(70, 236, 139);
    
    --bg-color-load1: #ff0000;
    --bg-color-load2: rgb(255,255,0);
    --bg-color-blur: rgba(255, 255, 255, 0.221);
}

@font-face {
    font-family: Blueberry Days;
    src: url("/assets/fonts/Blueberry\ Days.ttf");
}

 .parallax{
    
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    display: flex;
   /* justify-content: center;
    align-items: center;*/
}

.parallax-uno{

    background-image: url("/assets/images/imagenCinco.jpg");
    flex-wrap:wrap;
    justify-content: space-between;
    row-gap: 20px;

}
.parallax-dos{
    background-image: url("/assets/images/imagenNueve.jpg");
    justify-content: center;
    align-items: center;
}

.parallax-tres{
    background-image: url("/assets/images/imagenSiete.jpg");
}

.parallax-Cuatro{
    background-image: url("/assets/images/imagenCuatro.jpg");
}

.container-text{
    width: 40%;
    min-width: 350px;
    
}

.description-text{
    background: var(--bg-color-transparent-title);
    padding: 30px;
    min-height: auto;
    height: auto;
    text-align: justify;
    color: var(--bg-color-text2);
    margin: 17% 0 0 10% ;
    font-family: Blueberry Days;
 font-size: 2vw;
    
    
}

.container-galeria{
    width: 50%;
   min-width: 50vh;
  
   min-height: 2vh;
    margin: 6.5% 4% 0 4px ;
}

.galerias-arte__tamaño{
    width: 550px;
    height: 405px;
    overflow: hidden;
    margin-bottom: 10%;
}

.titulos{
    font-size: 3.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold  ;
   
}

.center{
    background: var(--bg-color-blur);
    max-width: 70%;
    
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: -10% auto ;
    backdrop-filter: blur(5px);
    border-radius: 30px ;
    -webkit-border-radius: 30px ;
    -moz-border-radius: 30px ;
    -ms-border-radius: 30px ;
    -o-border-radius: 30px ;
    
}

.informacion-texto{
    font-size: 1.7vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:  0 30px;    
}

.texto-importante{
    font-weight: bolder;
    font-size: 2.5vw;
    font-family: 'Courier New', Courier, monospace;
}

.espacio{
    padding: 30px 0 60px 0;
}
.espacio h2{
    text-align: center;
}

p{
    text-align: justify;
}

.header{
    position: fixed;
    width: 100%;
    z-index: var(--z-index-4);
    padding: 0;
    background-color: var(--bg-color-header);
}

.logo-header-Link, .logo-header-container{
    display: flex;
}

.logo-header-figure{
    width:30px;
     height:30px;
    margin:-2px  8px;
}

.logo-header-text {
    font-size: 18px;
    margin: 5px 0;
    color: var(--bg-color-text);
}
    
.collapse, .navbar-collapse{
flex-direction: row-reverse;
}

.button-login-cta{
    margin-right: 20px;
    margin-top: 5px;

}

.button-empezar{
    width: 30vh;
    height: 10vh;
    background-color: var(--bg-color-button);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    border-radius: 25px 0 25px ;
    -webkit-border-radius: 25px 0 25px ;
    -moz-border-radius: 25px 0 25px ;
    -ms-border-radius: 25px 0 25px ;
    -o-border-radius: 25px 0 25px ;

}

.button-empezar-text{
    font-family: 'Courier New', Courier, monospace ;
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
}


.button__styles{
    background-color: var(--bg-color-button);
    width: 120px;
    height: 30px;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.button{
    margin-left: 5px;
}

.button-link{
    text-decoration: none;
    margin: auto;
    width: 95px;
    height: 25px;
    display: block;
    padding-top: 3px;
    color: #000;
}

.nav-link{
    color: var(--bg-color-text) !important;
}

/* Preloader */
.preloader {
    background: var(--bg-color-header);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--z-index-10);
}

.preloader p {
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: var(--bg-color-text);
}

.preloader:before, .preloader:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color: var(--bg-color-load1);
    animation: squaremove 1s ease-in-out infinite;
    -webkit-animation: squaremove 1s ease-in-out infinite;
}

.preloader:after {
    bottom: 0px;
    background-color: var(--bg-color-load2);
    animation-delay: 0.3s;
}

@keyframes squaremove {
  0%, 100%{
    -webkit-transform: translate(0,0) rotate(0);
    -ms-transform: translate(0,0) rotate(0);
    -o-transform: translate(0,0) rotate(0);
    transform: translate(0,0) rotate(0);
  }

  25%{
    -webkit-transform: translate(40px,40px) rotate(45deg);
    -ms-transform: translate(40px,40px) rotate(45deg);
    -o-transform: translate(40px,40px) rotate(45deg);
    transform: translate(40px,40px) rotate(45deg);
  }

  50%{
    -webkit-transform: translate(0px,80px) rotate(0deg);
    -ms-transform: translate(0px,80px) rotate(0deg);
    -o-transform: translate(0px,80px) rotate(0deg);
    transform: translate(0px,80px) rotate(0deg);
  }

  75%{
    -webkit-transform: translate(-40px,40px) rotate(45deg);
    -ms-transform: translate(-40px,40px) rotate(45deg);
    -o-transform: translate(-40px,40px) rotate(45deg);
    transform: translate(-40px,40px) rotate(45deg);
  }
}

/*--footer--*/
.footer{
	background:rgb(0, 0, 0);
	padding:1.5% 0;

}		
ul.footer_box{
	list-style:none;
	padding:0;
}	
ul.footer_box h4{
	color:#fff;
	font-size:1.2em;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom: 8%;
}
ul.footer_box li a{
	color: #B8B6B6;
	font-size: 1em;
	text-decoration:none;
	line-height: 1.5em;
}
ul.footer_box li a:hover{
	color:#fff;
}
.footer_search {
	margin-top: 10%;
	width:100%;
	position:relative;
}
.footer_search input[type="text"] {
	outline: none;
	padding: 12px 15px;
	outline: none;
	color: #202020;
	background: #FFF;
	border: none;
	width: 74%;
	line-height: 1.5em;
	font-size: 0.8125em;
}
.footer_search  input[type="submit"] {
	background: #C7C7C7;
	padding: 9px 19px;
	border: none;
	cursor: pointer;
	position: absolute;
	line-height: 1.6em;
	font-size: 1em;
	color: #000;
	font-weight: 800;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.footer_search  input[type="submit"]:hover {
	background:#222;
	color:#fff;
}
ul.social{
	list-style:none;
	padding:0;
	margin-top: 17%;
}	
ul.social li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
ul.social li{
	display:inline-block;
	margin-right:8px;
}	
ul.social li a span:hover{
	opacity:0.5;
}		
li.facebook a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(.../assets/images/img-sprite.png)no-repeat -256px -276px;
}
li.twitter a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../assets/images/img-sprite.png)no-repeat -298px -276px;
}
li.instagram a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../assets/images/img-sprite.png)no-repeat -346px -276px;
}
li.pinterest a span {
	height: 25px;
	width: 25px;
	display: block;
	background: url(../assets/images/img-sprite.png)no-repeat -391px -276px;
}	
li.youtube a span {
	height: 25px;
	width: 47px;
	display: block;
	background: url(../assets/images/img-sprite.png)no-repeat -437px -276px;
}	

.flagvisibility { 
    float: right;
}

.copy {
float: left;
}
.copy p{
font-size:0.8125em;
font-weight:600;
color:#B8B6B6;
}
.copy p a{
    color:#fff;
}
ul.footer_box h4, ul.team_list h4{
    margin-bottom: 10px;
}
ul.footer_box {
    margin-bottom: 20px;
}
.footer_search, .footer_bottom{
    margin-top:0;
}
ul.social {
margin-top: 20px;
}
.search {
    left: 65%;
    width: 27%;
    top: 12px;
}

.button-registro{

    width: 150%;
    height: 50px;

    background-color: var(--bg-color-button);

}

/*--SECTION COMUNIDAD--*/
section{
width: 100%;
height: 100vh;
margin:0;
}

#imgPrincipal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    
}


#capaComunidad{
    width: 100%;
    height: 100vh;
    background:radial-gradient(circle at 100% 50%,rgba(255,255,255,0) 30%, rgba(0,0,0,0.95) 50%);
    z-index: 2;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

#textoComunidad{
width: 100vh;
height: 90vh;
position:absolute;
z-index: 3;
top: 60px;
display: flex;
flex-direction: column;
align-items: center;

}

#tc1{
width: 90% ;
margin-top: 65px;
margin-bottom: 50px;

}

#tc1 p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orangered;
    text-align: center;
    margin:auto;
}
#tc2{
    width: 90% ;
    display: flex;
    flex-direction: column; 
    align-items:center;
    }

.tc21{
    width: 95% ;
    margin: auto;  
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
}


.tc21 p {
    color: white;
    margin-left: 60px;
    display: flex;
}

.tc211{
    border: 3px solid goldenrod ;
    width: 80vh;
    margin-right: 0px;
    margin-left: 10vh;

}

.textTc2111{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 20px;
    margin-bottom: 2px;
    
}

.textTc2112{ 
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-family: Verdana, Tahoma, sans-serif;
}

.textTc2113{    
    font-size: 16px;
    margin-left: 10px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
}

.fotoComentador{
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:3px solid white;
    margin-right:0px;
    position: absolute;
    z-index: 3;
    margin-left: 5vh;


}


/*ASIDECOMUNIDAD*/

aside{
    display: block;
    height:100vh;
   
}
#aside1{
    display: flex;
    flex-direction:column;
    border: 1px solid red;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;

}
#textA11{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border:1px solid yellow;
    width: 90%;
    text-align: center;
}
#textA12{
    border:1px solid yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

#aside2{
    border: 1px solid blue;
    display: flex;
}

.aside21{
    border: 1px solid brown ;
    width: 30%;
    height: 200px;
    margin:auto;

}

.cabezaA211{
    border: 1px solid greenyellow ;
    width: 90%;
    height: 20px;
}

.imgA2111{
    border: 1px solid purple;
    width: 90%;
    height: 10px;
}

.imgA2112{
    border: 1px solid purple;
    width: 90%;
    height: 10px;
}

#textA212{
    border: 1px solid greenyellow ;
    width: 90%;
    height: 20px;
}






