:root{
    --z-index-nav: 40;
    --z-index-2: 20;
    --z-index-3: 30;
    --z-index-4: 40;

    --bg-color-text: #fff;
    --bg-color-text2: #000;
    --bg-color-transparent-title:  #111a;
    --bg-color-transparent-text:  #aaad;
    --bg-color-header : #052d61dd;
    --bg-color-button:  rgb(70, 236, 139);
    
    
}

 .parallax{
    
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
    display: flex;
   /* justify-content: center;
    align-items: center;*/
}

.parallax-uno{

    background-image: url("/assets/images/imagenUno.jpg");
    justify-content: flex-start;

}
.parallax-dos{
    background-image: url("/assets/images/imagenDos.jpg");
}


.parallax-tres{
    background-image: url("/assets/images/imagenTres.jpg");
}

.parallax-Cuatro{
    background-image: url("/assets/images/imagenCuatro.jpg");
}

.description-text{
    background: var(--bg-color-transparent-title);
    padding: 30px;
    width: 450px;
    height: 50vh;
    text-align: justify;
    color: var(--bg-color-text);
    margin: 150px 5%;

}

@font-face {
    font-family: texto;
    src: url("/assets/fonts/Blueberry\ Days.otf");
}

.description-text{
    font-size: 32px;
  
}

.center{
    background: var(--bg-color-transparent-text);
    max-width: 1100px;
    width: 90%;
    overflow: hidden;
    position: absolute; 
    left: 0;
    right: 0;
    margin: -150px auto ;

}
.espacio{
    padding: 30px 0 60px 0;
}
.espacio h2{
    text-align: center;
    padding: 30px;
}

p{
    text-align: justify;
}

.header{
    position: fixed;
    width: 100%;
    z-index: var(--z-index-nav);
    padding: 0;
    background-color: var(--bg-color-header);
}



.logo-header-Link, .logo-header-container{
    display: flex;
}

.logo-header-figure{
    width:30px;
     height:30px;
    margin:-2px  8px;
}

.logo-header-text {
    font-size: 18px;
    margin: 5px 0;
    color: var(--bg-color-text);
}
    
.collapse, .navbar-collapse{
flex-direction: row-reverse;
}

.button-login-cta{
    margin-right: 20px;
    margin-top: 5px;

}

.button__styles{
    background-color: var(--bg-color-button);
    width: 120px;
    height: 30px;

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}

.button{
    margin-left: 5px;
}

.button-link{
    text-decoration: none;
    margin: auto;
    width: 95px;
    height: 25px;
    display: block;
    padding-top: 3px;
    color: #000;
}

.nav-link{
    color: var(--bg-color-text) !important;
}